@font-face{
    font-family: ubuntu;
    src: url('./src_CV/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf'),
     url('./src_CV/fonts/Ubuntu_Mono/UbuntuMono-BoldItalic.ttf'),
     url('./src_CV/fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf'),
     url('./src_CV/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}

*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: ubuntu;
}

body{
    background-color: rgb(12, 25, 70);
}

header{
    background-image: url(./src_CV/img/img-bg-header/abstract-techno-background-with-connecting-lines/5570.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

h1{
    padding: 15px 20px 20px 20px;
    text-shadow: 0px 0px 3px blanchedalmond;
}

#foto{
    height: 200px;
    width: 200px;
    margin: 20px;
    border: solid black 2px;
    background-image: url(./src_CV/img/67167786_1073119756218318_7879375236909498368_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.container{
    display: flex;
    flex-flow:wrap column;
    justify-content: space-between;
    align-items: center;
    
}
.contenedores{
    background-color: #5E2750;
    margin-top: 10px;
    padding: 10px;
    color: #AEA79F;
    width: 50%;
    border-radius: .3em;
}
li{
    margin: 5px;
}